<section class="container main-content pt-0" > 
   
    <div class="row pt-2">
        <div class="col-md-9">
            <div class="row pb-1 " >
                <div class="col-4">
                    <select class="form-select" (ngModelChange) ="onLanguageChange($event)" [(ngModel)]="selectedLanguageId" >
                        
                        <option value="0">Select Language</option>
                        @for(item of languageList; track $index){

                            <option [value]="item.languageId" > {{item.language}}</option>
                        }
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-select" (ngModelChange)="onTopicChange($event)" [(ngModel)]="selectedLanguageTopicId">
                       
                        <ng-container *ngIf="topicList$|async as abcd">

                            <option value="0">Select topics</option>
                            @for(item of abcd ; track $index){
                                <option [value]="item.languageTopicId">{{item.topicName}}</option>
                                
                            }

                        </ng-container>
                        
                          
                        
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" placeholder="Search Questions"  />
                </div>

            </div>
            <div>
                
                
            </div>

            
            <div class="row">
                <ng-container *ngIf="questionList$|async as abcd">
                    @if(abcd.length == 0){
                        <div class="col-12 text-center pt-5">
                            <p>Select Any Language to Get Questions</p>
                        </div>
                    }
                    @else {
                        <div style="font-weight: 500;">Total question:{{abcd.length}}</div>
                        @for(item of abcd; track $index ){
                 
                        <div class="col-12" >
                            <app-question-card [question]="item" ></app-question-card>
                        </div>
                
                        }
                    }
                    
                        
                </ng-container>
              

            </div>

           
        </div>
        <!-- <aside class="col-md-3 sidebar"> 
            <a class="card" id="card-link" *ngIf="showPlayer" target="_blank"> 
                <div class="card__body"> 
                    <div class="card__body body__img">
                        <iframe style="border-radius: 10px;" width="100%" height="100%" [src]="youtubeUrl" title="Employee Registration app Angular 17 | Stepper Form | Angular 17 Project" frameborder="0" autoplay="true" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowfullscreen></iframe>
                    </div>
                </div> 
                <div class="card__footer" id="card-footer">
                    <div class="skeleton-text skeleton-footer"> Check Youtube Video</div>
                </div>
            </a>
            <app-question-count [languageCountList]="questionCountList"></app-question-count>

            <div class="widget widget_highest_points mt-2">
                <h3 class="widget_title">Top Categories</h3>
                <ul>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60"
                                    src="assets/youtube_logo.jpg" alt=""></a>
                        </div>
                        <h6><a href="#">admin</a></h6>
                        <span class="comment">12 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60"
                                    src="https://2code.info/demo/html/ask-me/images/demo/avatar.png" alt=""></a>
                        </div>
                        <h6><a href="#">vbegy</a></h6>
                        <span class="comment">10 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60"
                                    src="https://2code.info/demo/html/ask-me/images/demo/avatar.png" alt=""></a>
                        </div>
                        <h6><a href="#">ahmed</a></h6>
                        <span class="comment">5 Points</span>
                    </li>
                </ul>
            </div>

            <div class="widget widget_tag_cloud">
                <h3 class="widget_title">Tags</h3>
                <a href="#">projects</a>
                <a href="#">Portfolio</a>
                <a href="#">Wordpress</a>
                <a href="#">Html</a>
                <a href="#">Css</a>
                <a href="#">jQuery</a>
                <a href="#">2code</a>
                <a href="#">vbegy</a>
            </div>

            <div class="widget">
                <h3 class="widget_title ">Recent Questions</h3>
                <ul class="related-posts">
                    <li class="related-item">
                        <h3><a href="#">This is my first Question</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="clear"></div><span>Feb 22, 2014</span>
                    </li>
                    <li class="related-item">
                        <h3><a href="#">This Is My Second Poll Question</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="clear"></div><span>Feb 22, 2014</span>
                    </li>
                </ul>
            </div>

        </aside> -->
    </div>
</section>
 
 